In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('ba_reviews.csv')

In [5]:
df.head()

,Unnamed: 0,reviews,country,date,stars
0,0,✅ Trip Verified | Easy check in a T5. Galleri...,United Kingdom,13th August 2023,8.0
1,1,"Not Verified | Flight delayed by an hour, it ...",United States,12th August 2023,2.0
2,2,Not Verified | The staff are very rude and not...,United Kingdom,11th August 2023,2.0
3,3,✅ Trip Verified | Good domestic flight operat...,United Kingdom,8th August 2023,10.0
4,4,Not Verified | Failed at all basic travel fund...,Canada,8th August 2023,1.0

In [14]:
df.shape

(3600, 5)

In [4]:
df.isnull().sum()

Unnamed: 0    0
reviews       0
country       2
date          0
stars         5
dtype: int64

In [18]:
df = df.dropna(axis=0)
del df['Unnamed: 0']
df.reset_index(drop=True)

,reviews,country,date,stars
0,✅ Trip Verified | Easy check in a T5. Galleri...,United Kingdom,13th August 2023,8.0
1,"Not Verified | Flight delayed by an hour, it ...",United States,12th August 2023,2.0
2,Not Verified | The staff are very rude and not...,United Kingdom,11th August 2023,2.0
3,✅ Trip Verified | Good domestic flight operat...,United Kingdom,8th August 2023,10.0
4,Not Verified | Failed at all basic travel fund...,Canada,8th August 2023,1.0
...,...,...,...,...
3595,Caught a connection from Gatwick to Jersey and...,Australia,10th May 2014,9.0
3596,I have just been reviewing all the reviews on ...,United Kingdom,10th May 2014,2.0
3597,I flew Singapore to Sydney with them recently ...,Australia,8th May 2014,2.0
3598,Lanzarote to Gatwick on 13th April. Flight its...,United Kingdom,7th May 2014,1.0
3599,LGW-VRN-LGW both in Club Europe. Was offered a...,United Kingdom,7th May 2014,7.0

In [35]:
# lower all texts in df
cols = list(df.columns)
for i in cols:
    df[i] = df[i].str.lower()

# df.reviews = [i.lower() for i in df.reviews]

In [39]:
df['verified'] = df.reviews.str.contains('trip verified')

In [44]:
pd.to_datetime(df.date)

ValueError: time data "1st August 2023" doesn't match format "%dth %B %Y", at position 6. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [42]:
df.head()

,reviews,country,date,stars,verified
0,✅ trip verified | easy check in a t5. galleri...,United Kingdom,13th August 2023,8.0,True
1,"not verified | flight delayed by an hour, it ...",United States,12th August 2023,2.0,False
2,not verified | the staff are very rude and not...,United Kingdom,11th August 2023,2.0,False
3,✅ trip verified | good domestic flight operat...,United Kingdom,8th August 2023,10.0,True
4,not verified | failed at all basic travel fund...,Canada,8th August 2023,1.0,False