In [1]:
import pandas as pd

In [2]:
pd.read_csv('ba_reviews.csv')

,Unnamed: 0,reviews,country,date,stars
0,0,✅ Trip Verified | Easy check in a T5. Galleri...,United Kingdom,13th August 2023,8.0
1,1,"Not Verified | Flight delayed by an hour, it ...",United States,12th August 2023,2.0
2,2,Not Verified | The staff are very rude and not...,United Kingdom,11th August 2023,2.0
3,3,✅ Trip Verified | Good domestic flight operat...,United Kingdom,8th August 2023,10.0
4,4,Not Verified | Failed at all basic travel fund...,Canada,8th August 2023,1.0
...,...,...,...,...,...
3595,3595,Caught a connection from Gatwick to Jersey and...,Australia,10th May 2014,9.0
3596,3596,I have just been reviewing all the reviews on ...,United Kingdom,10th May 2014,2.0
3597,3597,I flew Singapore to Sydney with them recently ...,Australia,8th May 2014,2.0
3598,3598,Lanzarote to Gatwick on 13th April. Flight its...,United Kingdom,7th May 2014,1.0
3599,3599,LGW-VRN-LGW both in Club Europe. Was offered a...,United Kingdom,7th May 2014,7.0