In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('ba_reviews.csv')

In [3]:
df.head()

,Unnamed: 0,reviews,country,date,stars
0,0,✅ Trip Verified | Easy check in a T5. Galleri...,United Kingdom,13th August 2023,8.0
1,1,"Not Verified | Flight delayed by an hour, it ...",United States,12th August 2023,2.0
2,2,Not Verified | The staff are very rude and not...,United Kingdom,11th August 2023,2.0
3,3,✅ Trip Verified | Good domestic flight operat...,United Kingdom,8th August 2023,10.0
4,4,Not Verified | Failed at all basic travel fund...,Canada,8th August 2023,1.0

In [14]:
df.shape

(3600, 5)

In [4]:
df.isnull().sum()

Unnamed: 0    0
reviews       0
country       2
date          0
stars         5
dtype: int64

In [4]:
# drop null values

df = df.dropna(axis=0)
del df['Unnamed: 0']
df.reset_index(drop=True)

,reviews,country,date,stars
0,✅ Trip Verified | Easy check in a T5. Galleri...,United Kingdom,13th August 2023,8.0
1,"Not Verified | Flight delayed by an hour, it ...",United States,12th August 2023,2.0
2,Not Verified | The staff are very rude and not...,United Kingdom,11th August 2023,2.0
3,✅ Trip Verified | Good domestic flight operat...,United Kingdom,8th August 2023,10.0
4,Not Verified | Failed at all basic travel fund...,Canada,8th August 2023,1.0
...,...,...,...,...
3588,Caught a connection from Gatwick to Jersey and...,Australia,10th May 2014,9.0
3589,I have just been reviewing all the reviews on ...,United Kingdom,10th May 2014,2.0
3590,I flew Singapore to Sydney with them recently ...,Australia,8th May 2014,2.0
3591,Lanzarote to Gatwick on 13th April. Flight its...,United Kingdom,7th May 2014,1.0
3592,LGW-VRN-LGW both in Club Europe. Was offered a...,United Kingdom,7th May 2014,7.0

In [6]:
cols = ['reviews', 'country']

In [7]:
# lower all texts in df
for i in cols:
    df[i] = df[i].str.lower()

# df.reviews = [i.lower() for i in df.reviews]

In [8]:
df['verified'] = df.reviews.str.contains('trip verified')

In [9]:
#convert to date format
df['date'] = pd.to_datetime(df['date'], format='mixed')

In [10]:
df.head()

,reviews,country,date,stars,verified
0,✅ trip verified | easy check in a t5. galleri...,united kingdom,2023-08-13,8.0,True
1,"not verified | flight delayed by an hour, it ...",united states,2023-08-12,2.0,False
2,not verified | the staff are very rude and not...,united kingdom,2023-08-11,2.0,False
3,✅ trip verified | good domestic flight operat...,united kingdom,2023-08-08,10.0,True
4,not verified | failed at all basic travel fund...,canada,2023-08-08,1.0,False

In [11]:
import nltk
import re

from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords

In [54]:
nltk.download('stopwords')
nltk.download('punkt')

[nltk_data] Downloading package stopwords to C:\Users\ACER-
[nltk_data]     PC\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to C:\Users\ACER-
[nltk_data]     PC\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [12]:
wnl = WordNetLemmatizer()

In [57]:
review_data = df.reviews
review_data = review_data.str.strip('✅ trip verified ')
review_data = review_data.str.strip('not verified ')

In [62]:
corpus = []
# lemmatization
for i in review_data:
    review = re.sub('[^a-zA-Z]', ' ', i)
    review = review.lower()
    review = review.split()
    
    review = [wnl.lemmatize(word) for word in review if word not in set(stopwords.words('english'))]
    review = ' '.join(review)
    corpus.append(review)

In [64]:
df['corpus'] = corpus

In [65]:
df.head()

,reviews,country,date,stars,verified,corpus
0,✅ trip verified | easy check in a t5. galleri...,united kingdom,2023-08-13,8.0,True,easy check gallery south north lounge packed a...
1,"not verified | flight delayed by an hour, it ...",united states,2023-08-12,2.0,False,flight delayed hour happens biggie u change ga...
2,not verified | the staff are very rude and not...,united kingdom,2023-08-11,2.0,False,staff rude trained properly exception made chi...
3,✅ trip verified | good domestic flight operat...,united kingdom,2023-08-08,10.0,True,good domestic flight operated ba cityflyer gro...
4,not verified | failed at all basic travel fund...,canada,2023-08-08,1.0,False,failed basic travel fundamental flight delayed...

In [66]:
df.isnull().value_counts()

reviews  country  date   stars  verified  corpus
False    False    False  False  False     False     3593
Name: count, dtype: int64

In [68]:
df.to_csv('cleaned_ba_data.csv')